{% extends "layout.html" %}
{% block title %}Page Not Found{% endblock %}
{% block content %}
<div id="404">
    <div class="container" id="404-content">
        <h1>404 Page Not Found</h1>
        <p><h5>What you were looking for is just not there. Please enjoy this picture of the 404 Pontypridd to Porthcawl bus.</h5><</p><br>
        <img src = "{{url_for('static', filename='img/404.jpg')}}" alt="404 not found" class="img-fluid  mx-auto d-block" width="500rem" >
        <a href = "{{ url_for('index') }}"  class="btn btn-primary btn-lg" role="button"><b>Back to homepage</b></a>
   </div>
</div>
{% endblock %}