{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<ul class="nav nav-tabs mx-auto mt-3" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active me-1" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true"><h2>About</h2></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link me-1" id="skills-tab" data-bs-toggle="tab" data-bs-target="#skills" type="button" role="tab" aria-controls="skills" aria-selected="false"><h2>Skill Set</h2></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false"><h2>Contact</h2></button>
  </li>
</ul>
<div class="tab-content " id="myTabContent">
  <div class="tab-pane fade show active p-5" id="about" role="tabpanel" aria-labelledby="about-tab">
     <div id="topofpage">
    <div class="row ">
        <div class="col" id="mypic">

            <img src = "{{url_for('static', filename='img/smilligan.jpg')}}" alt="image of Suzanne Milligan" class="img-fluid rounded-circle mx-auto d-block" width="200rem" >
        </div>
        <div class="col" id ="spiel">
                <h1>Suzanne Milligan</h1>
                <p><h5><em>Computing Masters Graduate</em><br><br> I have recently completed a Masters degree at Cardiff University. The course was BCS accredited and covered many subject areas, providing
                    a balance of software engineering skills and technical ablities. Below is a table showing the taught modules from the course and the marks that I obtained in each module. <br></p></h5>
        </div>
   </div>

   <table class="table table-striped">
         <thead>
         <tr>
             <th scope="col"><b>Module Name</b></th>
             <th scope="col"><b>Credits</b></th>
             <th scope="col"><b>Module Mark</b></th>
         </tr>
         </thead>
         <tbody>
         <tr>
             <th scope="row">Computational Thinking</th>
             <td>10</td>
             <td>71%</td>
         </tr>
         <tr>
             <th scope="row">Fundamentals of Programming</th>
             <td>30</td>
             <td>88%</td>

         </tr>
         <tr>
             <th scope="row">Alogrithms, Data Structures and Programming</th>
             <td>20</td>
             <td>70%</td>
         </tr>
         <tr>
             <th scope="row">Databases and Modelling</th>
             <td>20</td>
             <td>83%</td>
         </tr>
         <tr>
             <th scope="row">Topics, Research and Skills in Computing</th>
             <td>10</td>
             <td>81%</td>
         </tr>
         <tr>
             <th scope="row">Software Engineering</th>
             <td>30</td>
             <td>79%</td>
         </tr>
         </tbody>
     </table>
         <p><h5>My dissertation topic was (60 credits) 'A Web Application for Recording a Personal OCD Diary' - currently awaiting mark.<br>
            The site created as part of my dissertation can be found at <a href ="https://ocddiary.herokuapp.com">here</a>
     </h5></p>


   </p>
     </div>
      </div>
  <div class="tab-pane fade p-5" id="skills" role="tabpanel" aria-labelledby="skills-tab">

   <h3>Work Experience</h3>

   <table class="table table-striped">
       <thead>
           <tr>
               <th>Dates</th>
               <th>Occupation</th>
               <th>Company</th>
           </tr>
       </thead>

            <td>May 2017- Mar 2020</td>
            <td>ICT Schools Engineer</td>
            <td>Bridgend County Borough Council</td>
        </tr>
       <tr>
           <td>June 2007 - May 2017</td>
           <td>ICT Technician</td>
           <td>Pencoed Comprehensive School</td>
       </tr>

   </table>
    <hr>

   <h3>Skills</h3>
   <table class="table table-striped">
       <thead>
           <tr>
               <tr>
                <th scope="col"><b>Skill</b></th>
                <th scope="col"><b>Rating</b></th>
                <th scope="col"><b>Comment</b></th>
         </tr>
           </tr>
       </thead>
       <tr>
            <td>Javascript</td>
            <td> ⭐⭐⭐⭐</td>
           <td>See github for examples</td>
       </tr>
            <td>HTML</td>
            <td>⭐⭐⭐⭐</td>
            <td>See current project</td>
       </tr>
       <tr>
            <td>Python</td>
            <td>⭐⭐⭐⭐</td>
            <td>This site is produced on a Flask/Python framework</td>
       </tr>
       <tr>
            <td>CSS</td>
            <td>⭐⭐⭐⭐</td>
            <td>This site features Bootstrap 5 plus custom CSS</td>
        </tr>
       <tr>
           <td>SQL</td>
           <td>⭐⭐⭐</td>
           <td>Moderate experience</td>
       </tr>
       <tr>
           <td>Java</td>
           <td>⭐⭐</td>
           <td>Basic experience</td>
       </tr>
   </table>
       <div id="hr">
           <h3>Education</h3>
           <p><h5>I have recently completed a masters degree in computing at Cardiff University. I also hold an undergraduate batchelor of engineering
               degree from Imperial College in Materials Science.
            </h5> </p>

      </div>


</div>
    <div class="tab-pane fade p-5" id="contact" role="tabpanel" aria-labelledby="contact-tab">
<!--            <h4> Please enter your contact details</h4>-->

<!--        <form action ="" method="POST">-->

<!--            <p>-->
<!--                {{ wtf.form_field(form.name) }}<br>-->
<!--                {% for error in form.name.errors %}-->
<!--                <span style="color:red;">[{{ error }}]</span>-->
<!--                {% endfor %}-->
<!--                {{ wtf.form_field(form.email) }}<br>-->
<!--                {% for error in form.email.errors %}-->
<!--                <span style="color:red;">[{{ error }}]</span>-->
<!--                {% endfor %}-->
<!--                {{ wtf.form_field(form.message) }}<br>-->
<!--                {% for error in form.message.errors %}-->
<!--                <span style="color:red;">[{{ error }}]</span>-->
<!--                {% endfor %}-->



<!--            </p>-->

<!--            <button class ="btn btn-primary btn-lg mt-3 mb-3 me-3" type="submit" name="edit" value="edit">Send </button>-->

<!--        </form>-->

        <div class="d-grid gap-4" style="padding-bottom: 20px;">
            <a href = "https://www.linkedin.com/in/suzanne-milligan-48264598/" target="_blank" class="btn btn-primary btn-lg" role="button"><b>LinkedIn profile</b></a>
<!--            <button class="btn btn-primary btn-lg" type="button"><b>Button</b></button>-->
        </div>
    </div>


  </div>
</div>





{% endblock content %}