{% extends "layout.html" %}

{% block content %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true">About</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
  </li>
</ul>
<div class="tab-content " id="myTabContent">
  <div class="tab-pane fade show active p-5" id="about" role="tabpanel" aria-labelledby="about-tab">
     <div id="topofpage">
    <div class="row ">
        <div class="col" id="mypic">

                <img src = "{{url_for('static', filename='img/smilligan.jpg')}}" alt="image of Suzanne Milligan" class="rounded float-start" width ="200px" height="400px" border="3px">
        </div>
        <div class="col" id ="spiel">
                <h1>Suzanne Milligan</h1>
                <p><em>Computing Masters student at Cardiff University</em></p>
        </div>
   </div>
   <p>I am currently studying a Masters degree at Cardiff University. It is a computing conversion course. It teaches
       people with no background in computing how to become a software developer. <em>This page is currently a work in progress.
       </em>
   </p>
     </div>
      </div>
  <div class="tab-pane fade p-5" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div id="hr">
           <h3>Education</h3>
           <p>I am a graduate of Imperial College, London. My degree is an honours degree in Engineering, and the subject was Materials Science.</p>
           <ul>
               <li><strong><a href= "https://www.imperial.ac.uk">Imperial College</a></strong></li>
               <li><strong><a href="https://www.cardiff.ac.uk">Cardiff University</a></strong></li>
           </ul>
      </div>
   <h3>Work Experience</h3>

   <table cellspacing="10" cellpadding="10%">
       <thead>
           <tr>
               <th>Dates</th>
               <th>Occupation</th>
           </tr>
       </thead>
        <tr>
            <td>2017-2020</td>
            <td>BCBC ICT Schools Engineer</td>
        </tr>
        <tr>
            <td>2020</td>
            <td>Masters Student</td>
        </tr>

   </table>
    <hr>
   <h3>Skills</h3>
   <table cellspacing = "10" cellpadding = "10%">
       <thead>
           <tr>
               <th><h3>Skills</h3></th>
               <th><h3>Rating</h3></th>
               <th><h3>Skills</h3></th>
               <th><h3>Rating</h3></th>
           </tr>
       </thead>
       <tr>
         <td>Javascript</td>
        <td> ⭐⭐⭐⭐</td>
         <td>HTML</td>
        <td> ⭐⭐⭐</td>

       </tr>
        <tr>
            <td>Python</td>
            <td>⭐⭐⭐</td>
            <td>CSS</td>
            <td>⭐</td>
        </tr>
   </table>


</div>

    <div class="tab-pane fade p-5" id="contact" role="tabpanel" aria-labelledby="contact-tab"> <a href = "hobbies.html"><strong>Hobbies</strong></a>
   <a href = "contact.html">Contact Me</a>
  </div>
</div>





{% endblock content %}